#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  align-items: center;justify-content: center;
}


.div1{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.main_div{
  
  display: flex;
/* Chane it for midea q
 */
 display: none;
 
  gap: 50px;

}
#spclmsg{
  /* display: block; */
  
  font-family: "Poppins", sans-serif;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-weight: 180;
  max-width: 850px;
  width: 100%;
  height: 87%;
  
  letter-spacing: 2px;
  line-height: 1.7;
}

@media (max-width: 768px){
  .main_div{
    display: flex;
    flex-direction: column;
    display: none;
  }

  #spclmsg{
    letter-spacing: 2px;
    max-width: 340px;
    overflow: scroll;

  }
}







